.flex-container {
    display:flex;
    justify-content:right; /* Zentriert den Inhalt horizontal */
    align-items: flex-end; /* Zentriert den Inhalt vertikal */
    height: 100vh;
    width: 50vh;
  }
  
  table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }