
.centered-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height:calc(100vh - 120px); /* Nimmt die volle Höhe des Viewports ein, abzüglich Header/Footer */
  padding: 40px;
}

.content {
  max-width: 600px;
  width: 100%;
  overflow: auto;
}



