.navbar-custom {
  background-color: #4CAF50; /* Hier kannst du jeden Farbcode einsetzen */
  color: white; /*Ändert die Textfarbe auf Weiß*/
}
.content {
  display:flex;
  align-items: center top;
  justify-content: center;
  min-height: calc(100vh - 100px);
}
.centered-title {
  text-align:center;
  width: 100%;
  margin: 20px 0;
}

